.Wrap {
    border-top: 5px solid #2B912B;
}

.warning {
    position: fixed;
    width: 200px;
    height: 200px;
    z-index: 999;
    background: #2B912B;
    color: #fff;
}

.warning i {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;

}

h1 a {
    display: inline-block;
    background: url(../img/logo_w.png);
    width: 202px;
    height: 40px;
    font-size: 0px;
}

.top_nav {
    position: absolute;
    top: 30px;
    right: 15px;
}

.top_nav>ul {
    display: flex;
    gap: 10px;
    font-size: 13px;
    color: #353535;
    line-height: 30px;
}

.gnb {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.gnb>ul {
    display: flex;
    gap: 100px;
    line-height: 90px;
    font-size: 19px;
    font-weight: 500;
    justify-content: center;
}

.gnb a:hover {
    color: #2B912B;
}

.gnb::before {
    position: absolute;
    top: 91px;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 998;
    transition: 0.5s;
}

.gnb:hover::before {
    height: 200px;
}

.gnb .smenu {
    position: absolute;
    top: 91px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
    color: grey;
    z-index: 999;
    overflow: hidden;
    text-align: center;
    background: #FFF;
    height: 0;
    opacity: 0;
    transition: 0.5s;
}

.gnb:hover .smenu {
    height: 200px;
    opacity: 1;
}

.smenu li:hover {
    color: #2B912B;
    text-decoration: underline;
}

/*메인 비주얼*/

.main_slider .slick-dots {
    position: absolute;
    bottom: 70px;
    right: 20%;
}

.main_slider .slick-dots li {
    display: inline-block;
    margin: 0 5px 0 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f7f7f7;
}

.main_slider .slick-dots li.slick-active {
    background: #F9C100;
    border-radius: 5px;
    width: 30px;
}

.main_slider .slick-dots button {
    display: none;
}

.quick_link {
    position: relative;
    width: 1200px;
}

.quick_lick_content {
    display: flex;
    position: absolute;
    top: -30px;
    right: -30%;
}

.quick_link a {
    float: right;
    width: 300px;
    height: 80px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
}

.store a {
    background-color: #F9C100;
    color: #292929;
    border-radius: 30px 0 0 0;
}

.store strong::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-right: 13px;
    background: url(../img/icon_map.png) 0 0 no-repeat;
    width: 24px;
    height: 30px;
    position: relative;
    top: -2px;
}

.franchise a {
    background-color: #2B912B;
    color: #fff;
    border-radius: 0 0 30px 0;
}

.franchise strong::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-right: 13px;
    background: url(../img/icon_franchise.png) 0 0 no-repeat;
    width: 34px;
    height: 30px;

}


.tab_menu {
    padding: 100px 0;
}

/*////////////////////////////////////배너*/
.banner {
    padding: 100px 0;
    background: url(../img/bg_content.gif);
    color: #FFF;
}

.banner .container {
    display: flex;
    padding: 20px 0;
}

.banner_cont01 {
    position: relative;
    flex: 1;
    background: url(../img/bg_utilization.png) no-repeat;
    padding: 30px;
    width: 400px;
    height: 300px;
    margin-left: 55px;
}

.banner_cont02 {
    position: relative;
    flex: 2;
    background: url(../img/img_subway_history.png)no-repeat;
    padding: 20px;
}

.banner h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
}

.banner a {
    display: block;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 20px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;

}

.banner_cont01 a {
    left: 30px;
    bottom: 42px;
    width: 92px;
}

.banner_cont02 h3 {
    padding-left: 380px;
}

.banner_cont02 a {
    left: 400px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 142px;
}

.notice {
    display: flex;
    background: #FFF;
    border-radius: 50px 0 50px 0;
    margin-left: 55px;
    width: 870px;
    height: 300px;
    padding: 70px;
}

.notice_left {
    color: #000;
}

.notice_left h2 {
    color: #292929;
    font-size: 30px;
    font-weight: bold;
    background: url(../img/bul.png) no-repeat;
    min-height: 60px;
    padding: 17px 0 0 25px;
    margin-bottom: 1px;
    padding-bottom: 40px;
}

.notice_left p {
    text-align: center;
}

.notice_right {
    position: absolute;
    left: 500px;
    top: 76px
}

.notice_right ul li {
    line-height: 40px;
    color: #aaa
}

.quick_menu {
    text-align: center;
    background-color: #fff;
    padding: 40px 0 37px;
}

.quick_menu .container {
    width: 1200px;
    margin: 0 auto;
}

.quick_menu ul {
    display: flex;
}

.quick_menu ul li {
    flex: 1;
}

.quick_menu ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 70px;
    padding-left: 90px;
}

.quick_menu ul li .icon {
    background: url(../img/icon_quickmenu.png) no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.quick_menu ul li.qm01 .icon {
    background-position: 0px 0px;
}

.quick_menu ul li.qm02 .icon {
    background-position: -70px 0px;
}

.quick_menu ul li.qm03 .icon {
    background-position: -140px 0px;
}

.quick_menu ul li.qm04 .icon {
    background-position: -210px 0px;
}

.quick_menu ul li strong {
    color: #292929;
    font-size: 18px;
    display: block;
    margin-top: 12px;
    letter-spacing: -0.04em;
    text-align: left;
}

.quick_menu ul li span {
    color: #999999;
    font-size: 13px;
    display: block;
    margin-top: 6px;
    letter-spacing: -0.02em;
    text-align: left;
}







/* /////////////////////////////footer */
.footer {
    background-color: #292929;
    color: #666666;
    padding: 22px 0;
    position: relative;
}

.footer ul {
    display: flex;
    line-height: 50px;
}

.footer_top li {
    padding: 0 15px
}

.footer_bottom li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #666;
    margin: 0 15px;
    vertical-align: middle;
}